
.icon-phone:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-clock:before { content: '\e802'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-calendar-check-o:before { content: '\f274'; } /* '' */
